<!DOCTYPE html>

<head>
  <title>Live ISS and Sun tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
</head>

<body>
  <div id="map" style="height: 750px;"></div>

  <script>

    // Add map options, centering around Bethlehem as its in the center of a map
    var mapOptions = {
      center: [31.705791, 35.200657],
      zoom: 2
    }
    // Create a map with the options
    var map = L.map('map', mapOptions);

    // Add base tiles and add it to the map
    var layer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {noWrap: true});
    map.addLayer(layer)


    // Function to fetch data from API and loop through the response to add map markers
    async function updateMarker() {

      // Hit the API and get the data as a JSON
      const response = await fetch('http://127.0.0.1:8000/getISSCoordinates')
      const data = await response.json()

      // Custom Icons for ISS and Sun for display
      const customISSIcon = L.icon({
          iconUrl: './static/Gen_Sat.svg',
          iconSize: [25, 25],
          iconAnchor: [12, 40],
          popupAnchor: [1, -20]
        });

      const customSunIcon = L.icon({
          iconUrl: './static/Sun.svg',
          iconSize: [25, 25],
          iconAnchor: [12, 40],
          popupAnchor: [1, -20]
        });


      // Loop for ISS display
      // Loops through the length of the JSON data and creates the marker(issMarker), tooltip, add the marker to the layer(issLayerGroup) and add to the map
      for (index = 0; index < data.length; index++) {
        var issMarker = new L.Marker([parseFloat(data[index].latitude), parseFloat(data[index].longitude)], {icon: customISSIcon})
        issMarker.bindTooltip(`Time: ${data[index].timestamp}<br>Altitude: ${data[index].altitude} km<br>Speed: ${data[index].velocity} km`);
        var issLayerGroup = L.layerGroup([issMarker])
        issLayerGroup.addTo(map)
      }

      // Marker for the Sun display
      // Creates the marker(sunMarker), tooltip, add the marker to the layer(sunLayerGroup) and add to the map
      var sunMarker = new L.Marker([parseFloat(data[0].sunLatitude), parseFloat(data[0].sunLongitude)], {icon: customSunIcon})
      sunMarker.bindTooltip(`Sun at ${data[0].timestamp}`);
      var sunLayerGroup = L.layerGroup([sunMarker])
      sunLayerGroup.addTo(map)

    }

    // Call updateMarker function and update every 30 seconds
    updateMarker();
    setInterval(updateMarker, 30000);
  </script>
</body>

</html>